:javascript
  $(document).ready(function(){
    $(function() {
      $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
  });

.container
  = form_for(@income, :html=>{:class=>"form-horizontal", 'role'=>"form"}) do |f|
    = f.error_messages
    .form-group
      = f.label :pmt_date, :class=>"col-xs-6 control-label"
      .col-xs-6
        = f.text_field :pmt_date, :placeholder=>'date', :class=>'datepicker form-control', :readonly=>true
    .form-group
      = f.label :category_id, :class=>"col-xs-6 control-label"
      .col-xs-6
        = f.select :category_id, @income_categories.collect{|t| [t['description'], t['id']] }, {:include_blank => false}, :class=>'form-control'
    .form-group
      = f.label :amount, :class=>"col-xs-6 control-label"
      .col-xs-6
        = f.number_field :amount, :step=>0.01, :placeholder=>'amount', :class=>'form-control'
    .form-group
      = f.label :payee_payer, :class=>"col-xs-6 control-label"
      .col-xs-6
        = f.text_field :payee_payer, :placeholder=>'payee/payer', :class=>'form-control'
    .form-group
      = f.label :payment_type_id, :class=>"col-xs-6 control-label"
      .col-xs-6
        = f.select :payment_type_id, @payment_types.collect{|t| [t['description'], t['id']] }, {:include_blank => false}, :class=>'form-control'
    .form-group
      = f.label :note, :class=>"col-xs-6 control-label"
      .col-xs-6
        = f.text_area :note, :placeholder=>'note', :rows=>2, :class=>'form-control'
    .form-group
      .col-xs-12
        = f.submit 'Done', :class=>"btn btn-default"