%fieldset
  %legend="#{@incomes["start_date"].strftime("%Y/%m/%d")} - #{@incomes["end_date"].strftime("%Y/%m/%d")}"
  %table.table.table-striped
    %thead
      %tr
        %th Date
        %th Category
        %th Amount
        %th Payer
        %th Method of payment
        %th Note
        %th &nbsp;
    %tfoot
      %tr
        %th{:colspan=>'2'} TOTAL
        %th= number_to_currency(@incomes['total'])
        %th{:colspan=>'4'} &nbsp;
    %tbody
      - @incomes['list'].each do |i|
        %tr
          %td= i.pmt_date
          %td= i.income_category.description
          %td= number_to_currency(i.amount)
          %td= i.payee_payer
          %td= i.payment_type.description
          %td= link_to i.note, edit_income_path(i)
          %td= link_to 'Remove', i, :confirm => 'Are you sure?', :method => :delete