= form_for(@category.becomes(Financial::Category)) do |f|
  - f.object = @category.becomes(@category.class)
  = f.error_messages
  %fieldset
    %legend Category
    %table
      %tr
        %th= f.select :type, [['Expense','Financial::ExpenseCategory'],['Income','Financial::IncomeCategory']], {:include_blank => false}
      %tr
        %th= f.text_field :description, :placeholder=>"Short description"
      %tr
        %td= f.submit "OK"