.container
  %div{:class=>"panel panel-primary"}
    %div{:class=>"panel-heading"}
      Search results
    %div{:class=>"panel-body"}
      %div{:class=>"col-xs-12 table-responsive"}
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th Date
              %th Amount
              %th Payee
              %th Category
              %th Note
          %tbody
            - @results.each do |e|
              %tr
                %td= e.pmt_date.strftime("%m/%d")
                %td= link_to number_to_currency(e.amount), e.is_a?(Financial::Expense) ? edit_expense_path(e) : edit_income_path(e), remote:true
                %td= e.payee_payer
                %td= description_of_category(e.category_id)
                %td= link_to e.note, e.is_a?(Financial::Expense) ? edit_expense_path(e) : edit_income_path(e), remote:true
