.modal.fade#search_form{'tabindex'=>'-1', 'role'=>'dialog', 'aria-hidden'=>'true'}
  .modal-dialog
    .modal-content
      .modal-body
        = form_for(:expense_search, html: {class: 'form-horizontal','role'=>'form', method: :get}) do |f|
          = f.error_messages
          .form-group
            = f.select :category_id, Financial::Category.all.collect{|t| [t['description'], t['id']] }, {include_blank: false}, class: 'form-control'
          .form-group
            = f.number_field :amount, step: 0.01, placeholder: 'amount', class: 'form-control'
          .form-group
            = f.text_field :payee_payer, placeholder: 'payee/payer', class: 'form-control'
          .form-group
            = f.select :payment_type_id, Financial::PaymentType.all.collect{|t| [t['description'], t['id']] }, {include_blank: false}, class: 'form-control'
          .form-group
            = f.text_field :note, placeholder: 'note', class: 'form-control'
          .form-group
            %button.btn.btn-default{'data-dismiss'=>'modal'} Close
            = f.submit 'Find', class: 'btn btn-primary'