:javascript
  $(document).ready(function(){
    $(function() {
      $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
  });

= form_for(@expense) do |f|
  = f.error_messages
  %br
  = f.text_field :pmt_date, :placeholder=>'date', :class=>'datepicker', :readonly=>true
  %br
  = f.select :category_id, @expense_categories.collect{|t| [t['description'], t['id']] }, {:include_blank => false}
  %br
  = f.text_field :amount, :placeholder=>'amount'
  %br
  = f.text_field :payee_payer, :placeholder=>'payee/payer'
  %br
  = f.select :payment_type_id, @payment_types.collect{|t| [t['description'], t['id']] }, {:include_blank => false}
  %br
  = f.text_area :note, :placeholder=>'note'
  %br
  = f.submit 'Done'