:javascript
  $(document).ready(function(){
    $(function() {
      $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
  });
.container
  = form_for(@expense, :html=>{:class=>"form-horizontal",:role=>"form"}) do |f|
    = f.error_messages
    .row
      .form-group.col-xs-12.col-md-2
        = f.label :pmt_date, :class=>'sr-only'
        = f.text_field :pmt_date, :placeholder=>'date', :class=>'datepicker form-control', :readonly=>true
    .row
      .form-group.col-xs-12.col-md-2
        = f.label :category_id, :class=>'sr-only'
        = f.select :category_id, @expense_categories.collect{|t| [t['description'], t['id']] }, {:include_blank => false}, :class=>'form-control'
    .row
      .form-group.col-xs-12.col-md-2
        = f.label :amount, :class=>'sr-only'
        = f.number_field :amount, :step=>0.01, :placeholder=>'amount', :class=>'form-control'
    .row
      .form-group.col-xs-12.col-md-2
        = f.label :payee_payer, :class=>'sr-only'
        = f.text_field :payee_payer, :placeholder=>'payee/payer', :class=>'form-control'
    .row
      .form-group.col-xs-12.col-md-2
        = f.label :payment_type_id, :class=>'sr-only'
        = f.select :payment_type_id, @payment_types.collect{|t| [t['description'], t['id']] }, {:include_blank => false}, :class=>'form-control'
    .row
      .form-group.col-xs-12.col-md-2
        = f.label :note, :class=>'sr-only'
        = f.text_area :note, :placeholder=>'note', :rows=>2, :class=>'form-control'
    .row
      .col-xs-12.col-md-2
        = f.submit 'Done', :class=>"btn btn-default"