:javascript
  $(document).ready(function(){
    $(function() {
      $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
    
    $("#recurring_payment_type").change(function () {
      var recurring_type = $("#recurring_payment_type option:selected").val();
      var update_url = '#{recurring_payment_reload_categories_url}';
      $.ajax({
        url: update_url,
        type: "GET",
        data: ({recurring_payment_type: recurring_type}),
        success: function(data){
            $("#recurring_categories").html(data);
        }
      });
    })
  });

= form_for(@recurring_payment) do |f|
  = f.error_messages
  %table
    %tr
      %th &nbsp;
      %td= f.select :type, [['Income', 'Financial::RecurringIncome']], {:include_blank => false}
    %tr
      %th Frequency
      %td= f.select :frequency, [['Bi-weekly', 'Bi-weekly'],['Monthly','Monthly'],['Annually','Annually']], {:include_blank => false}
    %tr
      %th First date
      %td= f.text_field :first_date, :class=>'datepicker', :size=>10
    %tr
      %th Category
      %td
        #recurring_categories
          = render :partial=>"categories", :locals=>{:f=>f}
    %tr
      %th= f.label :Amount
      %td= f.text_field :amount, :size=>10
    %tr
      %th Payment method
      %td= f.select :payment_type_id, @payment_types.collect{|t| [t['description'], t['id']] }, {:include_blank => false}
    %tr
      %th Note
      %td= f.text_area :note, :cols => 25, :rows=>2
    %tr
      %td{:colspan=>'2'} &nbsp;
    %tr
      %td{:colspan=>"2"}= f.submit 'Done'
