:javascript
  $(document).ready(function(){
    $(function() {
      $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
    });
    
    $("#recurring_payment_type").change(function () {
      var recurring_type = $("#recurring_payment_type option:selected").val();
      var update_url = '#{recurring_payment_reload_categories_url}';
      $.ajax({
        dataType: "json",
        url: update_url,
        type: "GET",
        data: ({recurring_payment_type: recurring_type}),
        success: function(data){
          var selection = $("#recurring_categories select");
          selection.empty();
          $.each(data, function(index,option) {
            selection.append($("<option></option>").attr("value", option.id).text(option.description));
          });
        }
      });
    })
  });

= form_for(@recurring_payment.becomes(Financial::RecurringPayment)) do |f|
  - f.object = @recurring_payment.becomes(@recurring_payment.class)
  = f.error_messages
  %br
  = f.select :type, [['Income', 'Financial::RecurringIncome'],['Expense', 'Financial::RecurringExpense']], {:include_blank => false}
  %br
  = f.select :frequency, [['Daily', 'Daily'],['Bi-weekly', 'Bi-weekly'],['Monthly','Monthly'],['Annually','Annually']], {:include_blank => false}
  %br
  = f.text_field :first_date, :placeholder=>'first date', :class=>'datepicker', :readonly=>true
  %br
  #recurring_categories
    = f.select :category_id, @categories.collect{|t| [t['description'], t['id']] }, {:include_blank => false}
  %br
  = f.text_field :amount, :placeholder=>'amount'
  %br
  = f.text_field :payee_payer, :placeholder=>'payee/payer'
  %br
  = f.select :payment_type_id, @payment_types.collect{|t| [t['description'], t['id']] }, {:include_blank => false}
  %br
  = f.text_area :note, :placeholder=>'note'
  %br
  = f.submit 'Done'
