%fieldset
  %legend Recurring incomes
  %table{:width=>'90%'}
    %thead
      %tr
        %th Frequency
        %th Start date
        %th Category
        %th Amount
        %th Payer
        %th Payment method
        %th Note
    %tbody
      - @recurring_incomes.each do |i|
        %tr{:class=>cycle('even', 'odd')}
          %td= i.frequency
          %td= i.first_date
          %td= i.income_category.description
          %td= number_to_currency(i.amount)
          %td= i.payee_payer
          %td= i.payment_type.description
          %td= link_to i.note, edit_recurring_payment_path(i)

%fieldset
  %legend Recurring expenses
  %table{:width=>'90%'}
    %thead
      %tr
        %th Frequency
        %th Start date
        %th Category
        %th Amount
        %th Payee
        %th Payment method
        %th Note
        %th &nbsp;
    %tbody
      - @recurring_expenses.each do |e|
        %tr{:class=>cycle('even', 'odd')}
          %td= e.frequency
          %td= e.first_date
          %td= e.expense_category.description
          %td= number_to_currency(e.amount)
          %td= e.payee_payer
          %td= e.payment_type.description
          %td= link_to e.note, edit_recurring_payment_path(e)