#actions_nav
  -if current_tab?(:expenses,:daily_resources)
    = tabs_tag :namespace => :expense do |tab|
      = tab.list 'List', expenses_path
      = tab.add 'Add', new_expense_path
  -if current_tab?(:incomes,:daily_resources)
    = tabs_tag :namespace => :income do |tab|
      = tab.list 'List', incomes_path
      = tab.add 'Add', new_income_path
  -if current_tab?(:recurring_payments,:daily_resources)
    = tabs_tag :namespace => :recurring_payment do |tab|
      = tab.list 'List', recurring_payments_path
      = tab.add 'Add', new_recurring_payment_path
      -if (@recurring_payment && !@recurring_payment.new_record?)
        = tab.edit 'Edit', edit_recurring_payment_path(@recurring_payment)
        %li= link_to('Terminate', terminate_recurring_payment_path(@recurring_payment), confirm: 'Terminating this recurring event, no future payment will be made, are you sure?', method: :put)
        %li= link_to('Remove', recurring_payment_path(@recurring_payment), confirm: 'Removing all payments posted by this recurring event in the past ?', method: :delete)
  -elsif current_tab?(:categories,:daily_resources)
    = tabs_tag :namespace => :category do |tab|
      = tab.list 'List', categories_path
      = tab.add 'Add', new_category_path
  -elsif current_tab?(:payment_types,:daily_resources)
    = tabs_tag :namespace => :payment_type do |tab|
      = tab.list 'List', payment_types_path
      = tab.add 'Add', new_payment_type_path