#actions
  -if current_tab?(:expenses,:daily_resources)
    = tabs_tag :namespace => :expense do |tab|
      = tab.list 'List', expenses_path
      = tab.add 'Add', new_expense_path
  -if current_tab?(:expense_types,:daily_resources)
    = tabs_tag :namespace => :expense_type do |tab|
      = tab.list 'List', exp_types_path