#resources
  -if current_tab?(:planning,:usecases)
    = tabs_tag :namespace => :plans do |tab|
      = tab.list 'List', plans_path
  -elsif current_tab?(:daily_tracking, :usecases)
    = tabs_tag :namespace => :daily_resources do |tab|
      = tab.expenses 'Expenses', expenses_path
      = tab.expense_types 'Categories', exp_types_path
      = tab.payment_types 'Payment methods', payment_types_path

=render :partial=>"actions"